@import url(./style.css);

.cabecalho {
    padding: 2% 0% 0% 70%;;
}

.titulo__titulo {
    text-align: center;
    font-size: 3rem;
}

.tipos__energia {
    padding-left: 15em;
    padding-right: 15em;
}

.titulo__video__tipos {
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte-primaria);
    font-size: 2rem;
    text-align: center;
}